html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFF;
    color: #54566D;
    text-align: center;
    font-size: 20px;
	position: relative;
	background-image: url('../pic/headpic.png');
    background-repeat: no-repeat;
	z-index: -100;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
a {
    color: #1a9ec2;
    text-decoration: none;
}
a:hover {
    color: #000;
}
img {
	display: block;
	border: 0 none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
/* ---------------------------------- backgrounds all pages ----------------------------- */
.cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* ---------------------------------- sections ----------------------------- */
section, article, div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
/* ---------------------------------- index video ----------------------------- */
#start {
	width: 100%;
	height: 100%;
	min-height: 100%;
	text-align: center;
	position: relative;
}
#video-start {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
	z-index: -100;
}
/* ---------------------------------- wrapper ----------------------------- */
#wrapper {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.wrapper-white {
	background-color: #FFF;
}
/* ---------------------------------- header top ----------------------------- */
#header-top {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	position: relative;
}
#header-top h1 {
	width: 40%;
	max-width: 500px;
	text-align: left;
	font-size: 1em;
	margin: 5% 0;
}
#header-top h1 img {
	width: 100%;
	height: auto;
	display: block;
	vertical-align: middle;
}
/* ---------------------------------- nav ----------------------------- */
nav {
	width: 100%;
	max-width: 1200px;
	background-color: #F5CD2E;
	margin: 0 auto;
	text-align: left;
}
nav ul {
	width: 100%;
	list-style: none none;
	margin: 0;
	padding: 0;
}
nav ul li {
	width: auto;
	list-style: none none;
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
}
nav ul li a {
	padding: 20px 40px;
	font-size: 0.95em;
	color: #000;
	display: block;
	font-weight: bold;
}
nav ul li a:hover {
	color: #000;
	background-color: #FFF;
}
nav ul li+li {
	border-left: 1px solid #FFF;
}
.sticky {
	position: fixed;
	top: 0;
	left: auto;
	z-index: 100;
}
/* ---------------------------------- info start ----------------------------- */
#start-info {
	color: #FFF;
	padding: 40% 0;
	width: 90%;
	margin: 0 auto;
}
#start-info h2 {
	font-size: 2em;
	margin: 20px auto;
	font-weight: bold;
}
#start-info h2 img {
	margin: 0 auto;
	display: block;
	width: 70%;
	max-width: 500px;
	height: auto;
	text-align: center;
}
#start-info h3 {
	font-size: 1.3em;
	margin: 20px auto 30px auto;
}
#start-info h3 {
	font-size: 1.3em;
	margin: 20px auto 30px auto;
}
#start-info p a {
	padding: 10px 20px;
	border: 2px solid #FFF;
	color: #FFF;
	font-size: 0.8em;
}
#start-info p a:hover {
	border: 2px solid #003250;
	color: #003250;
}
/* ---------------------------------- entry ----------------------------- */
#entry {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	padding: 5%;
	font-size: 1em;
	line-height: 1.6em;
}
/* ---------------------------------- footer ----------------------------- */
footer {
	width: 100%;
	margin: 2% auto 0 auto;
	text-align: center;
	padding: 1% 0;
	font-size: 0.8em;
	background-color: #FFF;
}
/* ---------------------------------- clear ----------------------------- */
.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
}